apiVersion: batch/v1
kind: CronJob
metadata:
  name: university-cronjob
  labels:
    app: university-cronjob
spec:
  schedule: "*/1 * * * *"
  concurrencyPolicy: "Replace"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: university-cronjob
        spec:
          serviceAccountName: university-service
          volumes:
            - name: university-secrets
              csi:
                driver: secrets-store.csi.k8s.io
                readOnly: true
                volumeAttributes:
                  secretProviderClass: managex-university-secrets
          containers:
            - name: university-cronjob
              image: 399600302704.dkr.ecr.ap-south-1.amazonaws.com/managex_university:stage-9f6285a85dc5c6225688aa46cc597eff873bbcba-MNX-1555-1556-1557-PR1247
              command: ["php", "/var/www/html/artisan", "schedule:run"]
              volumeMounts:
                - name: university-secrets
                  mountPath: "/var/www/html/.env"
                  subPath: ".env"
                  readOnly: true
          restartPolicy: OnFailure
